.provider {
    display: block;
    background: url(/tops/index.php/static/img/openid_sprite.png) no-repeat;
    height: 50px;
    margin: 10px 0px 8px;
    padding: 0px;
    width: 150px;
    border: 0px;
}

#yahoo {
    background-position: 0px -50px;
}
#yahoo:hover {
    background-position: -150px -50px;
}
#yahoo.press {
    background-position: -300px -50px;
}

#google {
    background-position: 0px 0px;
}
#google:hover {
    background-position: -150px 0px;
}
#google.press {
    background-position: -300px 0px;
}
