body {
	width: 980px;
	margin: 0 auto;
    font-family: Tahoma, Verdana;
    border: 1px solid #333;
}
.container {
    width: 680px;
    overflow: auto;
    position: relative;
}

.clear {
    clear: both;
}

.small {
    font-size: 8pt;
}

.roomHeader {
    float: left;
    text-align: center;
    margin-bottom: 5px;
    width: 142px;
    padding: 0px 5px
}

.roomColumn {
    position: relative; 
    float: left; 
    margin-bottom: 25px;
}

.roomBlock {
    position: relative;
    width: 150px;
    border: 1px solid #838383;
    border-right: 0;
    background-image: url(../img/calendar_bg2.gif);
    background-position: 0 -2px;
}

.timeHeader {
    position: absolute;
    margin-top: 0;
    width: 50px;
    text-align: left;
    margin-left: 0;
}

.timeBlock {
    position: absolute;
    top: 0;
    width: 50px;
    border-color: #838383;
    background-image: url(../img/calendar_bg2.gif);
    font-family: Tahoma, Verdana;
    font-size: 8pt;
    color: #838383;
    border-top: 1px solid #838383;
    background-position: 0 -2px
}

.schedItem {
    position: absolute;
    margin-left: 1px;
    width: 142px;
    padding: 6px 2px 2px 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;text-overflow:ellipsis;
    opacity: 0.80;
    -moz-opacity: 0.8;
    font-size: 9pt;
}

/* Types */
.closed {
    background-color: #4c4c4c;
    color: #EEEEEE;
}

.legend {
    font-size: 11pt;
    background: #333;
    padding: 5px 10px;
}

#schedItemSelector td {
    cursor: pointer;
}
#schedItemSelector div {
    padding: 3px 10px;
    border: 3px solid transparent;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#schedItemSelector .selectedSchedButton {
    border-color: #fff;
}
